<div class="main-container" ng-controller="AlmacenCtrl as almacenCtrl">

    <div class="main-item">

    </div>
    <div class="main-item">
        <div>
            <span class="titulo">Almacén</span>

        </div>
        <div class="v-spacer"></div>
        <div>
            <div class="row">

                <div class="almacen-selector">
                    <!--<div>-->
                        <input type="text" placeholder="Producto" ng-model="almacenCtrl.filtro" class="custom-elem "/>

                        <span class="precio line-v-spacer">Total a cobrar: {{almacenCtrl.totalACobrar | currency}}</span>
                        <button-control classes="'btn btn-green btn-small line-v-spacer'" name="'Cobrar'"
                                        ng-click="almacenCtrl.cobrar()" ></button-control>
                    <!--</div>-->

                    <div>

                        <select name=""
                                size="10"
                                ng-model="almacenCtrl.producto"
                                ng-click="almacenCtrl.addProducto()"
                                class="custom-elem"
                                ng-options="producto.nombre + ' $' + producto.precio for producto in almacenCtrl.productos | filter:almacenCtrl.filtro">

                        </select>
                    </div>
                    <div>
                        <select
                                name=""
                                ng-model="almacenCtrl.productoSeleccionado"
                                size="10"
                                class="custom-elem"
                                ng-click="almacenCtrl.removeProducto()"
                                ng-options="producto.nombre for producto in almacenCtrl.productosSeleccionados">

                        </select>
                    </div>
                </div>

            </div>
        </div>


    </div>


    <div class="main-item">

    </div>
</div>