<div class="main-container" ng-controller="DetalleCajaCtrl as detalleCajaCtrl">

    <div class="main-item">

    </div>
    <div class="main-item">
        <div>
            <span class="titulo">Detalle de Caja</span>
            <button-control ng-if="detalleCajaCtrl.abierta" classes="'btn btn-green btn-small'" name="'Abrir Caja'"
                            ng-click="detalleCajaCtrl.abreCaja()"></button-control>
            <button-control ng-if="!detalleCajaCtrl.abierta" classes="'btn btn-red btn-small'" name="'Cerrar Caja'"
                            ng-click="detalleCajaCtrl.cierraCaja()"></button-control>
        </div>
        <div class="v-spacer"></div>
        <div class="detalle-container">

            <div class="detalle-total">
                <span>Total en caja: {{detalleCajaCtrl.total | currency}}</span>
            </div>

            <!--<table>-->
            <!--<tbody>-->
            <div ng-repeat="asiento in detalleCajaCtrl.detalleCaja" class="detalle-detail-container">
                <div id="caja-detalle-date">{{asiento.date}}</div>
                <div id="caja-detalle-anular" ng-click="detalleCajaCtrl.deleteAsiento(asiento.idAsiento)">Anular</div>

                <div ng-repeat="detalle in asiento | orderBy:'-tipo'" ng-if="detalle.descr !== ''">

                    <div ng-class="{
                        'caja-detalle-subtotal':$last && detalle.tipo == 1 ,
                        'caja-detalle-item':detalle.tipo == 2}">
                        <div id="caja-detalle-decr">{{detalle.descr}}</div>
                        <div id="caja-detalle-value" ng-if="detalle.value!== ''">{{detalle.value | currency}}</div>
                        <!--<div id="caja-detalle-date">{{detalle.date || ''}}</div>-->
                    </div>

                </div>




            </div>
            <!--</tbody>-->
            <!--</table>-->

            <div style="clear: both;">


            </div>


        </div>

    </div>


    <div class="main-item">

    </div>
</div>